# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
.venv/
.env
.env.*

*.sqlite3
db.sqlite3

# Migrations cachées
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.py


.vscode/
.idea/
*.iml

.DS_Store